<form action="/registro" method="POST">
    <input type="email" name="email" id="" placeholder="Escribe tu email">
    <input type="password" name="password" placeholder="Ingrese su Contraseña">
    <button type="submit">Registrate</button>
</form>